
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-right-small:before { content: '\e801'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-ccw:before { content: '\f025'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */