body{
    margin: 0%;
}

a{
    text-decoration: none;
}
.header{
    width: 1040px;
    position: absolute;
    left: 0;
    top: 25px;
    right: 0;
    z-index: 500;
    display: flex;
    margin: 0 auto;
}

.header :first-child a{
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header a{
    font-size: 20px;
    color: #fff;
    margin: 0 20px;
    background: transparent;
    border: none;
}

.header a:hover{
    color: rgba(255,255,255,.5);
}

body .header .root-button:first-child{
    position: absolute;
    left:0;
    top:0;
}

body .header .root-button:nth-child(2){
    display: flex;
    justify-content: center;
    width: 100%;
}

body .header .root-button:last-child{
    position: absolute;
    top:0;
    right: 0;
}


.background-header{
    width: 100%;
    height: 760px;
    margin: 0;
    position: absolute;
    -webkit-transform: skewY(-12deg);
    -webkit-transform-origin:left;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%,#a6ffcb 94%); 
}

.background-header span{
    height: 190px;
}

.background-header :first-child{
    position: absolute;
    width: 33.33333%;
    left: -16.66666%;
    background: #53f;
}

.background-header :nth-child(2){
    position: absolute;
    width: 33.33333%;
    left: 16.66666%;
    background: #4553ff;
}

.background-header :nth-child(3){
    position: absolute;
    width: 33.33333%;
    left: 49.9999%;
    background: #4f40ff;
}

.background-header :nth-child(4){
    position: absolute;
    bottom: 0;
    width: 36.6666%;
    background: #1fa2ff;
}

.background-header :last-child{
    position: absolute;
    bottom: 200px;
    right: 0;
    width: 15%;
    background: #25ddf5;
}

.content-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 760px;
}

.global{
    position: relative;
    width: 1000px;
    margin:0 auto;
    padding: 0 20px;
    line-height: 28px;
}

.connect{
    margin-bottom: 51px;
    color: #fff;
    border-radius: 15px;
    background-color: #2f70f6;
    padding: 2px 6px;
    display: inline-block;
    line-height: normal;
}

 .connect span{
     color: #fff;
     padding: 1px 6px;
     font-size: 12px;
     font-weight: 600;
     border-radius: 10px;
     background: #24b47e;
 }

 .content-title{
    color: #fff;
    font-size: 46px;
    font-weight: 500;
 }

 .content-text{
     color: #fff;
    font-size: 17px;
    margin-top:25px;
    margin-right: 55%;
 }

 .submit{
     margin-top: 100px;
 }

 
 .submit :first-child{
    border-radius: 5px;
    border: none;
    padding: 12px;
    background-color: #3ecf8e;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.2);
 }

 .submit :last-child{
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    padding: 12px;
    background-color: #fff;
    font-weight: 700;
    font-size: 15px;
    color: #7795f8;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.2);
 }

 .submit button:focus{
    outline: none;
}

.submit button:hover{
    transform: translateY(-1px);
    box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.device{
    width: 829px;
    position: absolute;
    z-index: 1;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    -webkit-transform: rotate(-12deg);
    -webkit-transform-origin:100% 0;
    top:30px ;
}

.device div{
    border-radius: 38px;
    background-color: #fff;
    box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, .3), inset 0px -5px 17px -5px rgba(0, 0, 0, .2);
}

.small-tablet{
    margin-right: 50px;
    justify-content: center;
    display: flex;
    width: 512px;
    height: 352px;
}

.phone{
    justify-content: center;
    display: flex;
    width: 267px;
    height: 553px;
}

.small-phone{
    margin-right: 50px;
    margin-bottom: 207px;
    justify-content: center;
    display: flex;
    width: 225px;
    height: 467px;
}

.tablet{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    width: 450px;
    height: 675px;
}


.complete-toolkit h1{
    color: #24b47e;
    width: 500px;
    display: flex;
    font-size: 30px;
    margin-left: 25px;
}

.complete-toolkit{
    position: relative;
    z-index: 2;
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    height: 580px;
    text-align: right;
}

.animation-slide{
    width: 66px;
    height: 66px;
    min-width: 66px;
    background-color: #b9f4bc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:10px ;
}

.animation-cub{
    position: relative;
    background-color: #6ed69a;
    border-radius: 10px;
    width: 36px;
    height: 36px;
}

.complete-toolkit p{
    line-height: 30px;
    width: 500px;
    font-size: 20px;
}

.separator{
    width: 500px;
    margin: 20px 0;
    border: solid 1px #e5eff6;
}

.complete-toolkit a{
    width: 50%;
}

.animation-cub :nth-child(3){
    background-color: #1bb978;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    position: absolute;
    z-index: 1;
    top: 19px;
    left: 8px;
}
.animation-cub :first-child{
    background-color: #1bb978;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
}

.animation-cub :nth-child(2){
    width: 20px;
    height: 2px;
    background-color: #1bb978;
    border-radius: 5px;
    position: absolute;
    left: 8px;
    top: 12px;
}
.animation-cub :last-child{
    width: 20px;
    height: 2px;
    background-color: #1bb978;
    border-radius: 5px;
    position: absolute;
    left: 8px;
    top: 22px;
}

@keyframes slide-point{
    0%{
        position: relative;
        left: 8px;
        top:9px
    }


    20%{
        position: relative;
        left: 20px;
        top:9px
    }
    30%{
        position: relative;
        left: 20px;
        top:9px
    }
    40%{
        position: relative;
        left: 20px;
        top:9px
    }
    50%{
        position: relative;
        left: 20px;
        top:9px
    }


    70%{
        position: relative;
        left: 8px;
        top:9px
    }
    80%{
        position: relative;
        left: 8px;
        top:9px
    }
    90%{
        position: relative;
        left: 8px;
        top:9px
    }    
    100%{
        position: relative;
        left: 8px;
        top:9px
    }
}

.animation-cub :first-child{animation: slide-point 1.9s ease-in-out 0s infinite}

@keyframes anim_slide-line{
    0%{
        background-color:#1bb978;
    }

    30%{
        background-color:#b9f4bc;
    }
    
    50%{
        background-color:#b9f4bc;
    }
    
    80%{
        background-color:#1bb978;
    }
}

.animation-cub :nth-child(2){animation: anim_slide-line 1.9s linear infinite }


@keyframes slide-point2{
    0%{
        left: 20px;
    }


    20%{
        left: 8px;
    }
    30%{
        left: 8px;
    }
    40%{
        left: 8px;
    }
    50%{
        left: 8px;
    }


    70%{
        left: 20px;
    }
    80%{
        left: 20px;
    }
    90%{
        left: 20px;
    }    
    100%{
        left: 20px;
    }
}
.animation-cub :nth-child(3){animation: slide-point2 1.9s ease-in-out .5s infinite}

@keyframes anim_slide-line2{
    0%{
        background-color:#b9f4bc;
    }

    30%{
        background-color:#1bb978;
    }
    
    50%{
        background-color:#1bb978;
    }
    
    100%{
        background-color:#b9f4bc;
    }
}

.animation-cub :last-child{animation: anim_slide-line2 1.9s linear .5s infinite }

.part2{
    padding-top: 180px;
}

.part2 .background{
    transform: skewY(-12deg);
    transform-origin: left;
    position: absolute;
    width: 100%;
    height: 115%;
    background-color: #f6f9fc;
}

.part2 .text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 730px;
    margin: 0 auto;
    text-align: center;
}

.part2 .text p{
    line-height: 30px;
    font-size: 20px;
}

.anima{
    width: 66px;
    height: 66px;
    border-radius: 100%;
    background-color: #b9f4bc;
    margin-bottom: 10px;
}

.part2 h1{
    color: #1bb978;
    font-size: 30px;
}

.code{
    width: 1040px;
    position: relative;
    margin: 0 auto;
    display: flex;
    padding-bottom: 70px;
}

.code-tab{
    width: 765px;
    border-radius: 3px;
    box-shadow: 0px 3px 13px -5px rgba(0, 0, 0, .5);
    background-color: #fff;
    position: relative;
    display: flex;
}

.code-text{
    padding: 8px 8px 31px 8px;
}

.code-tab p{
    margin: 3px;
}

.number-list{
    width: 15px;
    height: 100%;
    padding: 6px 10px;
    background-color: #f2feef;
}

.bottom-panel{
    height: 30px;
    width: 100%;
    background-color: #f6f9fc;
    position: absolute;
    top: 226px;
    display: flex;
    align-items: center;
}

.bottom-panel span{
    color: #4553ff;
    font-weight: 700;
    margin: 0 10px;
}

.bottom-panel div{
    color: #4553ff;
}

.bottom-panel :first-child{
    margin: 0 9px;
}

.bottom-panel .end{
    display: flex;
    justify-content: flex-end;
    width: 72%;
    height: 30px;
    align-items: center;
}

.bottom-panel .end :last-child{
    color: #fff;
    background-color: #24b47e;
    font-weight: 700;
    height: 30px;
    align-items: center;
    display: flex;
    padding: 0 7px;
}

.bottom-panel .end i{
    margin: 0;
}

.list{
    width:210px;
    padding-left: 65px;
}

.param{
    width: 100%;
    border-radius: 2px;
    height: 34px;
    border:none;
    background: transparent;
    font-size: 19px;
    color: #4553ff;
}

.param:hover{
    cursor: pointer;
    color: rgb(83, 61, 61);
}

.param:focus{
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 3px 16px -6px rgba(0, 0, 0, .2);
    height: 34px;
    background-color: #fff;
    outline: none;
    color: #1bb978;
    transition:.5s;
}

.list .separator{
    width: 210px;
    margin: 20px 0;
    border: solid 1px #e5eff6;
}

.list a{
    font-size: 19px;
    color: #4553ff;
}

.list a:hover{
    color: rgb(0, 0, 0);
}

.secondary{
    position: relative;
    background-color: #fff;
    border-bottom: #f6f9fc solid 2px;
}

.container-lg{
    display: flex;
    width: 1040px;
    margin: 0 auto;
    background-color: #fff;
}

.always-improving{
    padding: 70px 70px 70px 0;
    border-right: #f6f9fc solid 2px;
}

.global-scale{
    padding: 70px 0px 70px 70px;
}

.container-lg h1{
    margin-top: 30px;
    font-size: 20px;
    color:#24b47e;
}

.container-lg p{
    line-height: 30px;
    font-size: 20px;
}

.container-lg a{
    color: #4553ff;
    font-size: 20px;
    font-weight: 600;
}

.container-lg a:hover{
    color: #000000
}

.company{
    height: 161px;
    padding: auto 0;
}

.company a{
    position: relative;
    width: 1040px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 65px;
}

.company li{
    list-style: none;
}

 .company div:first-child{
     height: 16px;
 }

 .company img{
    height: 24px;
 }  


 .company a :nth-child(2){
     height: 22px;
 }

 .company a :nth-child(7){
     height: 22px;
 }

 .footer_buttom{
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .footer_block{
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, .2);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px 40px 40px 120px;
    border-radius: 3px;
    width: 545px;
    height: 120px;
    margin: 15px;
 }

 .footer_block:hover{
     position: relative;
     top: -2px;
     box-shadow: 0px 11px 28px 0px rgba(0, 0, 0, .2);
     cursor: pointer;
     transition: all 3s ease-out 3s;

 }

 /* .footer_block .any{
     position: relative;
     width: 130px;
     height: 130px;
 } */

 .footer_block h1{
     font-size: 22px;
     color: #b76ac4;
 }

 .globalFooter span{
     color: #6772e5;
 }

.footer:before{
    position: relative;
}
  
.globalFooter{
    display: flex;
    align-items: center;
    width: 1040px;
    margin: 0 auto;
}

.globalFooter .submit1{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    height: 40px;
    font-weight: 700;
    font-size: 15px;
    margin: 10px;
    box-shadow: 0px 6px 32px -1px rgba(0, 0, 0, .2);
}

.globalFooter .submit1:hover{
    transform: translateY(-1px);
    box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.globalFooter :last-child{
    color: #6772e5;
}

.globalFooter :nth-child(2){
    background-color: #6772e5;
    color: #fff;
}